[phases.setup]
nixPkgs = ["nodejs_22", "npm-10_x"]

[phases.install]
cmds = ["npm ci", "cd server && npm ci"]

[phases.build]
cmds = ["npm run build", "cd server && npm run build"]

[start]
cmd = "node server/dist/index.js"
